streamlit
pandas
-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/v2.7.9/tested_requirements/requirements_39.reqs
snowflake-sqlalchemy
sqlalchemy
plotly
urllib3
wordcloud
matplotlib
pydeck
datetime
torch
numpy
holidays
sklearn
regex
nltk
